@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/typography";
:root {

  --background:
    #f8fafc;

  --card:
    #ffffff;

  --primary:
    #002a85;

  --text:
    #0f172a;

  --text-muted:
    #64748b;

  --border:
    #e2e8f0;

  --success:
    #10b981;

  --warning:
    #f59e0b;

  --danger:
    #ef4444;

  --radius:
    16px;
}

* {
  box-sizing:
    border-box;
}

body {

  margin: 0;

  font-family:
    Inter,
    sans-serif;

  background:
    var(--background);

  color:
    var(--text);
}

#root {

  min-height:
    100vh;
}

.contest-day {

  background:
    var(--primary)
    !important;

  color:
    white
    !important;

  border-radius:
    10px
    !important;

  font-weight:
    600;
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode Autofill Fix */

.dark input:-webkit-autofill,
.dark input:-webkit-autofill:hover,
.dark input:-webkit-autofill:focus,
.dark input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #1e293b inset !important;
  -webkit-text-fill-color: #ffffff !important;
  caret-color: #ffffff !important;
  transition: background-color 5000s ease-in-out 0s;
}

.dark textarea:-webkit-autofill,
.dark textarea:-webkit-autofill:hover,
.dark textarea:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px #1e293b inset !important;
  -webkit-text-fill-color: #ffffff !important;
}